IMAGO_APP_NAME=imago
IMAGO_ENV=development
IMAGO_API_HOST=127.0.0.1
IMAGO_API_PORT=8000
IMAGO_STORAGE_BACKEND=filesystem
IMAGO_STORAGE_ROOT=./.data/imago
IMAGO_MONAI_CACHE_MODE=disabled
IMAGO_MONAI_PERSISTENT_CACHE_DIR=./.cache/imago/monai
IMAGO_MONAI_TRANSFORM_VERSION=dev
IMAGO_MONAI_EMIT_LINEAGE_RECORDS=true
IMAGO_MONAI_CACHE_RETENTION_HOURS=24
IMAGO_MONAI_CACHE_MAX_ITEMS=10000
